body {
  width: 100%;
  height: 100%;
  background-color: lightgray !important;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.title {
  width: 100%;
  /* border: 1px solid red; */
  padding: 1rem 0;
  font-size: 2rem;
}
.table_wrpper {
  width: 100%;
  /* border: 1px solid blue; */
}
.table_wrpper table {
  width: 100%;
  border-collapse: collapse;
}
th,
tr,
td {
  border: 1px solid #000;
}
.table_wrpper thead {
  width: 100%;
}
.table_wrpper tbody {
  width: 100%;
}
.chart_wrap {
  width: 100%;
  border: 1px solid red;
}
.card {
  background-color: transparent !important;
  border: none !important;
}
.line-graph-display-container {
  width: 100% !important;
  padding: 0 1rem;
}
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: inital;
  }
  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

/* app.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
