body {
  width: 100%;
  height: 100vh;
  background-color: lightgray;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
.title {
  width: 100%;
  /* border: 1px solid red; */
  padding: 5rem 0;
  font-size: 2rem;
}
.input_text {
  width: 100%;
  /* border: 1px solid blue; */
}
.input_text input {
  border: none;
  width: 50%;
  height: 2rem;
  margin-bottom: 2rem;
}
.btn_click {
  width: 100%;
  /* border: 1px solid green; */
}
.btn_click button {
  border: none;
  width: 50%;
  height: 2rem;
}
.checkwrap {
  /* border: 1px solid violet; */
  margin-top: 2rem;
}

/* app.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
